<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <h1 class="page-header">
            Setari
        </h1>
        <div class="col-sm-12 thumbnail">
            <h2>Categorii newsletter</h2>
            <form class="form" name="form" ng-submit="updateCategories(categorie)" novalidate>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="categorie.transport">Transport
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="categorie.youth">Tineret si sport
                    </label>
                </div>
                <p class="help-block"> {{ message }} </p>
                <button class="btn btn-primary" type="submit">Salveaza categoriile</button>
            </form>
        </div>
        <div class="col-sm-12 thumbnail">
            <h2>Frecventa notificarilor</h2>
            <form name="form" ng-submit="updateFrequency(frequency)" novalidate>
                <input type="radio" ng-model="frequency.daily" value="true" name="daily" />Zilnic <br/>
                <input type="radio" ng-model="frequency.weekly" value="true" name="daily" />Saptamanal <br/>
                <input type="radio" ng-model="frequency.monthly" value="true" name="daily" />Lunar <br/>
                <button class="btn btn-primary" type="submit">Salveaza frecventa</button>
            </form>
        </div>
        <div class="col-sm-12 thumbnail">
            <h2>Schimbare parola</h2>
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                <div class="form-group">
                    <label for="current-pass">Parola curenta
                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                           id="current-pass" mongoose-error/>
                    </label>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </div>

                <div class="form-group">
                    <label for="new-pass">Parola noua

                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                          id="new-pass" ng-minlength="3"
                           required/>
                    </label>
                    <p class="help-block"
                       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Parola trebuie sa contina minim 3 caractere.
                    </p>
                </div>

                <p class="help-block"> {{ message }} </p>

                <button class="btn btn-primary" type="submit">Salveaza parola</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>Flux.gov.ro 2014</p>
    </div>
</footer>

