.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.news-content {
    color: #000;
}
/* flux */
h1 {
    font-size: 24px;
}
* {
    border-radius: 0!important;
}
.main-page-header {
    margin: 30px 10px 20px 10px!important;
    padding-bottom:4px;
    border-bottom: 1px solid #cccccc;
}
.new-articol {
    width: 350px;
    max-height: 400px;
    height: 220px;
    border: 1px solid #dddddd;
    margin: 0 10px 20px 10px;
    -webkit-box-shadow: 0 6px 6px -6px #aaaaaa;
    -moz-box-shadow: 0 6px 6px -6px #aaaaaa;
    box-shadow: 0 6px 6px -6px #aaaaaa;
    -webkit-transition: border-color ease-in-out .25s, box-shadow ease-in-out .25s;
    transition: border-color ease-in-out .25s, box-shadow ease-in-out .25s;
<<<<<<< HEAD
    font-weight: bold;
    font-size: 14px;
=======
    color: #555555;
    display: inline-table;
    position: relative;
>>>>>>> 6c262a51843085661ab84270d4e65f5539d86b2a
}
.new-articol:hover {
    border-color: #4393B9;
    cursor: pointer;
    -webkit-box-shadow: 0 6px 6px -6px #2a6496;
    -moz-box-shadow: 0 6px 6px -6px #2a6496;
    box-shadow: 0 6px 6px -6px #2a6496;
<<<<<<< HEAD
    color: #2a6496;
    text-decoration: none;

}
.new-articol p {
    font-weight: 100;
    font-size: 12px;
=======
    color: #333333;
}
.new-articol h2 {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    background-color: #4393B9;
    color: #ffffff;
    padding: 10px;
}
.new-articol p {
    padding: 10px;
}
.new-articol h3 {
    position: Absolute;
    height: 20px;
    background-color: #0092b6;
    width: 100%;
    left: 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 20px;
    opacity: .8;
    display: none;
    bottom: -10px;
    font-size: 12px;
    -webkit-transition-timing-function: steps(4, start);
    -moz-transition-timing-function: steps(4, start);
    -o-transition-timing-function: steps(4, start);
    transition-timing-function: steps(4, start);
}
.new-articol:hover h3{
    display: block;
}
.page-header {
    padding-bottom:4px;
    border-color: #cccccc;
>>>>>>> 6c262a51843085661ab84270d4e65f5539d86b2a
}